body {
  font-size: 16px;
  font-family: verdana, helvetica, sans-serif; }
  body main .container > * {
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px; }
  body main .container .centro .pizarra table.inicio, body main .container .centro .pizarra table.perfil {
    margin: 0 auto;
    width: auto; }
    body main .container .centro .pizarra table.inicio thead th, body main .container .centro .pizarra table.inicio tfoot th, body main .container .centro .pizarra table.perfil thead th, body main .container .centro .pizarra table.perfil tfoot th {
      text-align: center; }
    body main .container .centro .pizarra table.inicio .inicial td, body main .container .centro .pizarra table.perfil .inicial td {
      border-bottom: 2px solid #eee;
      border-top: unset;
      padding: .5ex 0;
      vertical-align: middle; }
    body main .container .centro .pizarra table.inicio .inicial td:first-of-type, body main .container .centro .pizarra table.perfil .inicial td:first-of-type {
      width: 200px;
      font-weight: bold; }
    body main .container .centro .pizarra table.inicio .inicial .boton, body main .container .centro .pizarra table.perfil .inicial .boton {
      display: inline-block; }
  body main .container .centro .pizarra table.perfil {
    width: 80%; }
    body main .container .centro .pizarra table.perfil thead {
      background-color: #000;
      color: #fff; }
      body main .container .centro .pizarra table.perfil thead th {
        border: unset; }
    body main .container .centro .pizarra table.perfil .etiqueta {
      width: 120px; }
    body main .container .centro .pizarra table.perfil .dato.nombre {
      font-weight: bold; }
    body main .container .centro .pizarra table.perfil .retrato {
      width: 200px; }
      body main .container .centro .pizarra table.perfil .retrato img {
        width: 150px;
        display: block;
        margin: 10px auto;
        vertical-align: middle; }
    body main .container .centro .pizarra table.perfil .comentario {
      padding: 1ex 2ex; }
  body main .container .centro .pizarra .cartera thead {
    background: #eee;
    background: linear-gradient(to left, #ffffff, #eeeeee); }
    body main .container .centro .pizarra .cartera thead th {
      text-align: center; }
  body main .container .centro .pizarra .cartera caption {
    text-align: center;
    font-size: 1.5em; }
  body main .container .centro .pizarra .cartera tbody tr .nombre {
    font-weight: bold;
    cursor: pointer; }
    body main .container .centro .pizarra .cartera tbody tr .nombre:hover {
      color: red; }
  body main .container .centro .pizarra .cartera tfoot th {
    text-align: center; }
  body main .container .centro .pizarra .form {
    width: 80%;
    margin: 1em auto; }
    body main .container .centro .pizarra .form .col-imagen {
      text-align: center; }
      body main .container .centro .pizarra .form .col-imagen label {
        display: block;
        text-align: left; }
      body main .container .centro .pizarra .form .col-imagen .boton-imagen {
        font-size: 1.25rem;
        font-weight: 400;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        display: inline-block;
        margin: 10px 0;
        padding: 0.625rem 1.25rem;
        border: #cecece outset 3px;
        border-radius: 5px;
        color: #444444;
        background-color: #dddddd; }
      body main .container .centro .pizarra .form .col-imagen .input-imagen {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1; }
    body main .container .centro .pizarra .form .col-imagen-cliente {
      padding: 20px;
      text-align: center; }
      body main .container .centro .pizarra .form .col-imagen-cliente .foto {
        padding: 20px;
        height: 150px;
        min-width: 150px;
        border: 2px dashed #ddd; }
  body aside {
    background-color: #eee;
    text-align: center; }
  body footer {
    clear: both;
    margin: 1em 0;
    padding: 1ex;
    background-color: #eee;
    border-radius: 10px; }

/*# sourceMappingURL=estilo.css.map */
